<!-- Services -->
<section class="section services">
  <div class="container addstyles">
    <p class="section-subtitle">Проведи время в компании лучших мастеров</p>
    <h2 class="section-title" id="service-class">Услуги и цены</h2>
    <div class="overlay">
      <ul class="price-list">
        <div class="overlay-desktop">
          <li class="item-service">
            <span class="element">Мужская стрижка</span>
            <div class="line"></div>
            <span class="price">от 300 грн.</span>
          </li>
          <li class="item-service">
            <span class="element">Стрижка бороды</span>
            <div class="line"></div>
            <span class="price">от 200 грн.</span>
          </li>
          <li class="item-service">
            <span class="element">Стрижка усов</span>
            <div class="line"></div>
            <span class="price">от 200 грн.</span>
          </li>
          <li class="item-service">
            <span class="element">Бритье опасной бритвой</span>
            <div class="line"></div>
            <span class="price">от 200 грн.</span>
          </li>
        </div>
        <div class="overlay-desktop">
          <li class="item-service">
            <span class="element">Стрижка у стажера</span>
            <div class="line"></div>
            <span class="price">от 50 грн.</span>
          </li>
          <li class="item-service">
            <span class="element">Стрижка под насадку</span>
            <div class="line"></div>
            <span class="price">от 200 грн.</span>
          </li>
          <li class="item-service">
            <span class="element">Детская стрижка (до 12 лет)</span>
            <div class="line"></div>
            <span class="price">от 200 грн.</span>
          </li>
          <li class="item-service">
            <span class="element">Камуфлирование седины</span>
            <div class="line"></div>
            <span class="price">от 200 грн.</span>
          </li>
        </div>
      </ul>
    </div>
    <a href="#contact-form" class="center">
      <button type="button" class="recording-button">онлайн-запись</button>
    </a>
  </div>
</section>
