<!-- Why-us -->
<section class="section"> 
  <div class="container">
    <div class="flex-reverse">
     <div class="container-title">     
        <p class="line-up">старая традиционная школа</p>    
          <h1 class="title-section">Почему приходят именно к нам?</h1>     
           <p class="about-ass">О нас говорят только хорошее. Но лучше 1 раз увидеть и прочувствовать, чем 10 раз прочитать.</p>
     </div>
     <div class="wrapper">
        <ul class="statistics">
         <li class="statistics-item">
           <span class="after">600</span>
           <p class="edit">Довольных клиентов в день</p>
         </li>    
         <li class="statistics-item">
           <span class="after">20</span>
           <p class="edit"> Лучших мастеров Киева  </p>
         </li>
        </ul>
        <ul class="statistics down">    
         <li class="statistics-item">
          <span class="after">50</span>
          <p class="edit">Наград за отличный сервис</p>
         </li>
         <li class="statistics-item">
          <span class="after">100</span>
          <p class="edit">Подарков постоянным клиентам</p>
         </li>
        </ul>    
      </div>  
    </div>  
  </div>
</section>